// Import this to get access to palette and variables
@import '../../styles/base'

.paper-input /deep/ [focused] /deep/ .label-text
  color accent-a200

.paper-input /deep/ .focused-underline
  background-color accent-a200

paper-icon-button
  margin 0 2rem

.paper-button
  &--info
    background blue
    color white
  &--default
    background grey-300
